<div class="content" role="main">

  <div id="headerRow" class="w3-row">
    <div class="w3-col s6 w3-right-align">
      <h1 class="w3-left">New Stories</h1>
    </div>

    <!-- Load number -->
    <div class="w3-col s5 w3-right-align header-column">
      <div class="p-grid p-fluid">
        <div class="p-grid p-fluid">
          <div class="p-field p-col-12 p-md-3">
            <p-inputNumber [(ngModel)]="localStorageHN.numberOfStoriesToLoad" mode="decimal" [showButtons]="true"
              inputId="minmax-buttons" [min]="1" [max]="500" (ngModelChange)="setLocalStorage(); getNewStories()">
            </p-inputNumber>
            <label for="minmax-buttons" class="w3-left">Enter number of stories to load (1-500) |
              {{localStorageHN.numberOfStoriesToLoad}}</label>
          </div>
        </div>
      </div>
    </div>

    <!-- sidebar button -->
    <div class="w3-col s1 w3-right-align header-column">
      <p-button type="button" (click)="showSidebar = true" icon="pi pi-cog"></p-button>
    </div>
  </div>

  <!-- Loader -->
  <div [hidden]="!loading" class="w3-display-middle">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- STORY -->
  <ng-container *ngFor="let story of stories; let i = index">
    <p-card class="feed mt-3">

      <!-- content -->
      <ng-container *ngIf=stories | async as story.title; else skeletonLoading>
        <h2 id="storyTitle" class="w3-large">{{i+1}}. <a (click)="setOpenStoriesInNewTab()" target={{urlTarget}}
            href={{story.url}}> {{story.title}} </a></h2>
      </ng-container>

    </p-card>
  </ng-container>
</div>

<!-- sidebar -->
<p-sidebar [(visible)]="showSidebar" position="right" [baseZIndex]="10000">
  <div class="p-field-checkbox">
    <p-checkbox [(ngModel)]="localStorageHN.openStoriesInNewTab" (ngModelChange)="setLocalStorage()" [binary]="true" inputId="binary"></p-checkbox>
    <label for="binary"> Open stories in new tab</label>
  </div>
</p-sidebar>
